In [1]:
from worldstock_function import yahoo_company_info_downloader
from worldstock_function import prep_company_name
from utils import country_code_input,country_code_list, refine_dataset_maker
import json

In [ ]:
country_code_input()
country_code_list('china')

In [ ]:
# 여러나라 혹은 한개의 나라의 yahoo 종목 데이터를 수집하는 코드
country_collect_list = ['us','china','japan','uk','india','italy','korea','spain','hongkong','brazil']
for country_one in country_collect_list:
    a = yahoo_company_info_downloader(country_one)
    a.yahoo_dataset_maker(company_option=False)
'''
a = yahoo_company_info_downloader('china')
data = a.yahoo_dataset_maker(company_option=False)
data.head(2)
'''

In [ ]:
# 여러나라 혹은 한개의 나라의 yahoo 종목 데이터를 전처리하여 대표이름을 산출하는 과정
country_collect_list = ['us','china','japan','uk','india','italy','korea','spain','hongkong','brazil']
for country_one in country_collect_list:
    b = prep_company_name(country_one)
    b.stock_list_symbol(number_word_option = 2)
'''
b = prep_company_name('china')
name_data = b.stock_list_symbol(number_word_option = 2)
name_data.head(3)
'''

In [3]:
# # 여러나라 혹은 한개의 나라의 yahoo 종목 데이터를 통해 산출된 대표이름에 수작업한 데이터를 적용하여 최종전처리를 시행하는 과정
country_collect_list = ['us','china','japan','uk','india','italy','korea','spain','hongkong','brazil']
for country_one in country_collect_list:
    refine_dataset_maker(country_one)
#refine_dataset_maker('china')

In [28]:
with open('dataset/handwork_dataset/remove_one_word_dataset.txt') as word_file:
    oneword = word_file.read().splitlines()
print(oneword)
oneword
import pandas as pd
fruit_list = [ (['orange','juice'], 34, 'Yes' ) ,
             (['mango'], 24, 'No' ) ,
             (['banana'], 14, 'No' ) ,
             (['apple'], 44, 'Yes' ) ,
             (['pineapple','juice'], 64, 'No') ,
             (['Kiwi'], 84, 'Yes')  ]
#Create a DataFrame object
df = pd.DataFrame(fruit_list, columns = 
                  ['name', 'Price', 'Stock']) 
print(df)
df[[False if len(i)==1 and i[0] in oneword else True for i in df['name'] ]]

['arrival', 'plc', 'inc', 'mango', 'Kiwi']
                 name  Price Stock
0     [orange, juice]     34   Yes
1             [mango]     24    No
2            [banana]     14    No
3             [apple]     44   Yes
4  [pineapple, juice]     64    No
5              [Kiwi]     84   Yes

                 name  Price Stock
0     [orange, juice]     34   Yes
2            [banana]     14    No
3             [apple]     44   Yes
4  [pineapple, juice]     64    No

In [25]:
accented_string = 'öken'
# accented_string is of type 'unicode'
import unidecode
unaccented_string = unidecode.unidecode(accented_string)
# unaccented_string contains 'Malaga'and is of type 'str'
unaccented_string

'oken'

In [26]:
import unidecode
print('File Sort And Remove Duplicate Lines Start') 
w = open("C:/Users/BIG-LGY/Downloads/words_470k_new.txt", 'w', encoding='UTF8')
r = open("C:/Users/BIG-LGY/Downloads/words_470k.txt", 'r', encoding='UTF8')
#파일에서 읽은 라인들을 리스트로 읽어들임
lines = r.readlines()
lines = [i.lower() for i in lines]
lines = [unidecode.unidecode(i) for i in lines]
#Set에 넣어서 중복 제거 후 다시 리스트 변환
lines = list(set(lines))
#리스트 정렬
lines.sort()
 
#정렬,중복제거한 리스트 파일 쓰기
for line in lines :
    w.write(line)
 
#파일 닫기
w.close()
r.close()
 
print('File Sort End')

File Sort And Remove Duplicate Lines Start
File Sort End

In [3]:
f = open("C:/Users/BIG-LGY/Downloads/words_470k.txt", 'r')
data = f.read()
print(len(data))

f.close()

4883204